body {
    margin: 0;
    background-color: black;
}

#calculator, #frame {
    margin: auto;
    box-shadow: 0px 0px 12px rgb(72,255,0), inset 0px 0px 12px rgb(72,255,0);
    border: 2px solid rgb(72,255,0) ;
    border-radius: 10px;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    margin-top: 5vh;
}

#frame {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 250px;
    width: 350px;
    margin-top: 25px;
    padding: 20px;
    color: rgb(72,255,0);
    justify-content: space-between;
}

#frame h1, #frame h2 {
    margin: 0;
    word-wrap: break-word;  
    text-align: end;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

#keys {
    height: 270px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
    justify-content: center;
    
}

.key {
    height: auto;
    width: 75px;
    color: rgb(72,255,0);
    font-size: 20px;
    background-color: black;
    box-shadow: 0px 0px 12px rgb(72,255,0), inset 0px 0px 12px rgb(72,255,0);
    border: 2px solid rgb(72,255,0);
    border-radius: 10px;
    transition: background-color 0.2s;
}

.key:hover {
    background-color: rgb(72,255,0);
}